In [49]:
import pandas
import json

### Start with basic game level analysis
This tells us that in our sample set of starter words `turns`, `times`, and `means` are the ones leading to lower number of turns to solve (using the word_freq method). We had previously found that `rates` was likely to reduce the number of possible remaining words the most, so it's somewhat surprising it isn't higher on the list.

Some randomness, or also something about these higher words that are making them perform better than other words that more dramatically reduce the number of possible remaining words

In [52]:
df_game = pandas.read_csv('./simulations/gamelog_wordfreq.csv')

In [53]:
df_game.groupby('first_guess').agg({'turns': 'mean'}).sort_values('turns', ascending=True)

             turns
first_guess
taken         4.45
times         4.46
means         4.47
child         4.49
games         4.52
...            ...
local         5.12
state         5.18
leave         5.21
check         5.22
level         5.32

[101 rows x 1 columns]

In [62]:
# We have previously found rates to be the best word based on our model of word value 
df_game[df_game['first_guess'] == 'rates'].agg({'turns': 'mean'})

turns    4.72
dtype: float64

#### Now let's do turn level analysis

In [54]:
df_turn = pandas.read_csv('./simulations/turnlog_wordfreq.csv')

In [69]:
df_combined = df_turn.merge(df_game, on="game_id")

**Starting with which word most reduces the number of possible words on the second guess**
We see that this is `rates`! As my separate analysis suggested it should be. We'll need to dive in to know why rates

In [76]:
df_combined[df_combined['turn_number'] == 2].groupby('first_guess').agg({'words_possible': 'mean'}).sort_values('words_possible', ascending=True)

             words_possible
first_guess
rates               1039.15
means               1286.27
later               1346.53
least               1385.57
taken               1423.24
...                     ...
every               6612.68
check               8627.34
known               8752.64
which               9452.01
level               9466.57

[101 rows x 1 columns]