In [1]:
import pandas

In [3]:
df = pandas.read_csv('./simulations/freq_only.csv')

In [12]:
df.groupby('first_guess').mean('turns').sort_values(by='turns', ascending = True)

              game_num     turns
first_guess
world        49.009901  4.633663
being        49.009901  4.633663
would        49.009901  4.633663
think        49.009901  4.663366
those        49.009901  4.722772
first        49.009901  4.722772
these        49.009901  4.742574
years        49.009901  4.792079
their        49.009901  4.831683
about        49.009901  4.831683
right        49.009901  4.831683
could        49.009901  4.841584
other        49.009901  4.861386
never        49.009901  4.920792
after        49.009901  4.960396
there        49.009901  4.970297
where        49.009901  5.009901
still        49.009901  5.049505
going        49.009901  5.207921
which        49.009901  5.217822